/* PLEASE DO NOT CHNAGE THE EXISTING STYLES - JUST ADD ... FOR YOUR VISUALIZATIONS **/
body,html{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  background:rgba(51,102,255,.2);
  height:100%;
}

header{
  text-align: center;
  color:rgba(51,102,255,.6);
  padding:10px;
}

footer{
padding:0;
margin:0;
padding:10px;
color:rgba(51,102,255,.6);
text-align:center;

}

#parent-wrapper{
background:rgba(51,102,255,.2);
margin:0;
padding:0;
width:100vw;
/* min-width:1500px; */
overflow: hidden;
margin-top:20px;
}

#childOne{
margin:0;
margin-left:20%;
margin-top:20px;
width:80%;
position:relative;
padding:15px;
}

#Ex4_title{
margin-left:20%;
color:white;
}

.point{
background-color:white;
width:15px;
height:15px;
position:absolute;
border-radius: 5px;
}

.point_two{
background-color:white;
width:10px;
height:10px;
position:absolute;
border-radius: 5px;
}

.point0{
background-color:white;
width:5px;
height:5px;
border-radius: 5px;
position:absolute;
}

.point1{
background-color:white;
width:7px;
height:7px;
border-radius: 5px;
position:absolute;
}

.point2{
background-color:white;
width:9px;
height:9px;
border-radius: 5px;
position:absolute;
}

.point3{
background-color:white;
width:11px;
height:11px;
border-radius: 5px;
position:absolute;
}

.point4{
background-color:white;
width:13px;
height:13px;
border-radius: 5px;
position:absolute;
}

.point5{
background-color:white;
width:15px;
height:15px;
border-radius: 5px;
position:absolute;
}

.point6{
background-color:white;
width:17px;
height:17px;
border-radius: 5px;
position:absolute;
}


.point7{
background-color:white;
width:19px;
height:19px;
border-radius: 5px;
position:absolute;
}


.point8{
background-color:white;
width:21px;
height:21px;
border-radius: 5px;
position:absolute;
}

.point9{
background-color:white;
width:23px;
height:23px;
border-radius: 5px;
position:absolute;
}

.pointRGB{
background-color:white;
width:850px;
height:1px;
}

/* for dropDown*/
.css-select{
background: rgba(51,102,255,.6);
width: 30%;
margin-left:45px;
color:white;
font-size: 14px;
outline:none;

}
