/* ------------------------ */
/* GENERAL                  */
/* ------------------------ */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f78536 !important;
}
    
body {
    background: #dfebed;
    font-family: 'Roboto', sans-serif;
}

.row {
    background-color: #f78536;
    border-radius: 15px;
}

.container {
    margin-top: 50px;
}

/* ------------------------ */
/* LOG                      */
/* ------------------------ */

h3.logTitle {
    margin-top: 25px;
    margin-left: 25px;
    color: #2b4450;
    font-weight: 700;
    overflow: auto;
}

.logContent {
    background-color: #dfebed;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 610px;
    width: 100%;
    margin-top: 20px;
    margin-right: 65px;
    margin-bottom: 50px;
    overflow: auto;
}

@media only screen and (max-width: 1199px) {
    .logContent {
        margin-right: 0px;
    }
  }

p#logText {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.logContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

/* ------------------------ */
/* SCROLL BAR               */
/* ------------------------ */

::-webkit-scrollbar {
    width: 12.5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #dfebed;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2b4450; 
  }

/* ------------------------ */
/* CALENDAR                 */
/* ------------------------ */
/* Original calendar from https://codepen.io/gabrielcolombo/pen/LGzNwq */

h3.calendarTitle {
    margin-top: 25px;
    margin-left: 25px;
    color: #ffffff;
    font-weight: 700;
}

.calendarContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
  
.calendar {
    background: #2b4450;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 610px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}
  
.current-date {
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
  
.current-date h1 {
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
}
  
.week-days {
    color: #dfebed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 40px;
}
  
.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.weeks {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
  
.weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}
  
.next-month {
    opacity: .3;
}
  
.weeks span {
    padding: 10px;
}
  
.weeks span.active {
    background: #f78536;
    border-radius: 10px;
}
  
.weeks span:not(.next-month):hover {
    cursor: pointer;
    font-weight: 600;
}

/* ------------------------ */
/* MODAL                    */
/* ------------------------ */

.btn-primary {
    color: #fff;
    background-color: #f78536 !important;
    border-color: #f78536 !important;
}

.modal-content {
    background-color: #dfebed !important;
    border-radius: 0.5rem !important;
}