
/* ------------------------ */
/* STRUCTURE                */
/* ------------------------ */

body {
  font-family: "calibri", sans-serif;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}

#main-content {
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
}

/* ------------------------ */
/* REUSABLE CONTENT         */
/* ------------------------ */

li {
  font-size: 16px;
  color: #000000;
}

h1 {
  font-size: 36px;
  font-family: "calibri", sans-serif;
  text-align: center;
}

h2 {
  font-size: 18px;
}

.space {
  margin: 55px;
}

.black-font {
  color: #000000;
}

/* ------------------------ */
/* VOLUME ACCORDION         */
/* ------------------------ */

#volume-accordion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 2em;
}

/* ------------------------ */
/* BUTTONS & SLIDERS         */
/* ------------------------ */

.button-container {
  text-align: center;
}

#start {
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 50px;
  border: none;
  transition-duration: 0.4s;
}

#start:hover {
  background-color: #8B0000;
  color: #ffffff;
}

#stop {
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 50px;
  border: none;
  transition-duration: 0.4s;
}

#stop:hover {
  background-color: #8B0000;
  color: #ffffff;
}

#see-visualizer {
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 15px;
  padding: 5px 50px;
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

#see-visualizer:hover {
  background-color: #e1e1e1;
  color: #006400;
}

#download-raw {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 15px;
  padding: 5px 50px;
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

#download-raw:hover {
  background-color: #e1e1e1;
  color: #006400;
}

/* ------------------------ */
/* CONSTRUCTED SHAPES       */
/* ------------------------ */

#record-rectangle {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  display: inline-block;
  background-color: #8B0000;
  border-radius: 20px;
}

/* ------------------------ */
/* VISUALIZER               */
/* ------------------------ */

#canvas {
  height: 475px;
  width: 665px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

#player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* ------------------------ */
/* DIALOG BOX               */
/* ------------------------ */

.ui-widget.ui-widget-content {
  border: none !important;
  border-radius: 15px;
}

.ui-widget-header {
  font-family: "calibri";
  background: #f5f5f5 !important;
  color: #000000 !important;
  margin: 15px !important;
}

.ui-widget-content {
  background: #000000 !important;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 10px !important;
}

.ui-dialog .ui-dialog-content {
    border-radius: 25px;
}

/* ------------------------ */
/* ACCORDION BOX            */
/* ------------------------ */

.ui-accordion.ui-accordion-content {
  border: none !important;
  border-radius: 15px;
}

.ui-corner-all {
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.ui-accordion-header {
  font-family: "calibri";
  margin: 10px 0 0 0 !important;
  background: #f5f5f5 !important;
  color: #000000 !important;
}

.ui-accordion-content {
  background: #e1e1e1 !important;
}

.ui-state-default {
  border: none !important;
}

.ui-corner-bottom {
  border: none !important;
}

.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-content {
  border: 0px !important;
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
  border-radius: 250px;
}
