html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.main-content {
    background-color: #5A5A5A;
    border-radius: 25px;
    margin: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    width: 100%;
    opacity: 0.7;
    transition: transform 0.2s ease-in-out;
}

.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: auto;
}

h2.title-box {
    text-align:center;
    color:#000000;
    background:#c5dfbb;
    padding: 15px;
    border-radius: 20px;
    margin-top: 0px;
}

.days {
    margin:2%;
    background:#c5dfbb;
    color:#000000;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: auto;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
}

input[type=text] {
    padding:10px;
    margin:10px 0;
    border-radius: 15px;
    border-style: none;
    width: 25%;
  }

#enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 40px;
    background: #ffffff;
}

#enter-button:hover {
    cursor: pointer;
    background: #c5dfbb;
}

#result-container {
    margin:20px;
    background:#ffffff;
    padding:20px;
    flex-wrap:wrap;
    border-radius: 25px;
}

.food-list {
    font-family: calibri, sans-serif;
}

ul {
    list-style-type: none;
}

.map {
    height: 300px;
    border-radius: 25px;
}

#map-container-one {
    margin:20px;
    background:#ffffff;
    padding:20px;
    flex-wrap:wrap;
    border-radius: 25px;
}

#map-container-two {
    margin:20px;
    background:#ffffff;
    padding:20px;
    flex-wrap:wrap;
    border-radius: 25px;
}

#map-container-three {
    margin:20px;
    background:#ffffff;
    padding:20px;
    flex-wrap:wrap;
    border-radius: 25px;
}

#map-container-four {
    margin:20px;
    background:#ffffff;
    padding:20px;
    flex-wrap:wrap;
    border-radius: 25px;
}